Repository KyaRhamil/floodingnaque: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, bandit, check-yaml, detect-secrets

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Floodingnaque
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Code formatting with Black
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ['--line-length=120']
        files: ^backend/.*\.py$

  # Import sorting with isort
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ['--profile=black', '--line-length=120']
        files: ^backend/.*\.py$

  # Linting with flake8
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 --config backend/.flake8
        language: system
        types: [python]
        files: ^backend/.*\.py$

  # Type checking with mypy (temporarily skipped - needs type annotation work)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--ignore-missing-imports', '--no-error-summary', '--config-file', 'backend/mypy.ini']
        files: ^backend/app/.*\.py$

  # Security checks with bandit
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: ['-r', '--quiet', '-x', 'tests,venv,.venv']
        files: ^backend/.*\.py$
        exclude: ^backend/tests/.*\.py$

  # YAML validation
  - repo: local
    hooks:
      - id: check-yaml
        name: check yaml
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: fix end of files
        entry: python -c "import sys; f=open(sys.argv[1],'rb+'); c=f.read(); f.seek(0); f.write(c.rstrip()+b'\n'); f.truncate()"
        language: system
        types: [text]
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: python -c "import sys; f=open(sys.argv[1],'rb+'); lines=[l.rstrip()+b'\n' for l in f.readlines()]; f.seek(0); f.writelines(lines); f.truncate()"
        language: system
        types: [text]

  # Dockerfile linting (skipped on Windows - requires Docker)
  # - repo: https://github.com/hadolint/hadolint
  #   rev: v2.12.0
  #   hooks:
  #     - id: hadolint-docker
  #       files: Dockerfile.*

  # Commit message validation
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen check
        entry: cz check
        language: system
        stages: [commit-msg]
        args: ['--commit-msg-file']

  # Detect secrets (local detect-secrets)
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect secrets
        entry: detect-secrets-hook --baseline .secrets.baseline
        language: system
        files: .*
        exclude: (\.env\.example$|tests/.*\.py$)

  # GitGuardian secret scanning
  # Requires: pipx install ggshield (installed globally via pipx)
  # Configure: ggshield auth login (or set GITGUARDIAN_API_KEY env var)
  - repo: local
    hooks:
      - id: ggshield
        name: ggshield secret scan
        entry: ggshield secret scan pre-commit
        language: system
        stages: [pre-commit]
        pass_filenames: true

# Use system Python - no virtualenv issues
default_language_version:
  python: python3

# Files to exclude globally
exclude: |
  (?x)^(
    \.git/|
    \.venv/|
    venv/|
    __pycache__/|
    \.pytest_cache/|
    node_modules/|
    dist/|
    build/|
    .*\.egg-info/|
    backend/alembic/versions/.*\.py$
  )$

chore: Add figures and flood map accessibility
  .secrets.baseline
  backend/logs/logs_folder_content.txt
  docs/FLOODINGNAQUE_THESIS_PAPER.md
  docs/figures/figure10_flood_map.html
  docs/figures/figure11_roc_curve.png
  docs/figures/figure1_conceptual_framework.png
  docs/figures/figure2_flood_events_by_year.png
  docs/figures/figure3_flood_events_by_barangay.png
  docs/figures/figure4_feature_importance.png
  docs/figures/figure5_confusion_matrix.png
  docs/figures/figure6_model_comparison.png
  docs/figures/figure7_monthly_distribution.png
  docs/figures/figure8_risk_classification.png
  docs/figures/figure9_system_architecture.png
  docs/generate_thesis_figures.ipynb
Due: detect-secrets

fix: resolve pre-commit hook failures (flake8, bandit, detect-secrets)
  .secrets.baseline
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/config/__init__.py
  backend/scripts/__init__.py
  backend/scripts/backup_database.py
  backend/scripts/enterprise/__init__.py
  backend/scripts/enterprise/data_validation.py
  backend/scripts/enterprise/logging_config.py
  backend/scripts/enterprise/mlflow_tracking.py
  backend/scripts/enterprise/model_registry.py
  backend/scripts/evaluate_model.py
  backend/scripts/evaluate_robustness.py
  backend/scripts/generate_thesis_report.py
  backend/scripts/ingest_training_data.py
  backend/scripts/manage_partitions.py
  backend/scripts/merge_datasets.py
  backend/scripts/train.py
  backend/scripts/train_pagasa.py
  backend/scripts/train_production.py
  backend/scripts/verify_supabase_schema.py
  docker-compose-development.yml
  docker-compose-production.yml
  docker-compose-staging.yml
  docker-compose.base.yml
  docker-compose.mlflow.yml
  docker-compose.prod.yml
  docker-compose.yml
  pgbouncer/Dockerfile
  pgbouncer/entrypoint.sh
  pgbouncer/pgbouncer.ini
Due: black, isort, flake8, bandit, check-yaml, detect-secrets

chore: scripts dir consolidation
  .github/workflows/security-scan.yml
  backend/certs/.gitkeep
  backend/scripts/CHANGELOG.md
  backend/scripts/README.md
  backend/scripts/__main__.py
  backend/scripts/cli_utils.py
  backend/scripts/evaluate_unified.py
  backend/scripts/preprocessing_common.py
  backend/scripts/requirements-scripts.txt
  backend/scripts/train_unified.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/test_backup_database.py
  backend/tests/scripts/test_evaluate_model.py
  backend/tests/scripts/test_ingest_training_data.py
  backend/tests/scripts/test_manage_partitions.py
  backend/tests/scripts/test_merge_datasets.py
Due: black, isort, flake8, bandit, check-yaml, detect-secrets

fix: attribute changes
  backend/app/api/middleware/logging.py
Due: black, isort, flake8, mypy, bandit, detect-secrets

chore: reorganize data directory structure
  .github/workflows/train.yml
  .gitignore
  .secrets.baseline
  .vscode/settings.json
  backend/README.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/config.py
  backend/config/__init__.py
  backend/config/development.yaml
  backend/config/encryption.py
  backend/config/feature_flags.py
  backend/config/feature_flags.yaml
  backend/config/feature_validation.py
  backend/config/inheritance.py
  backend/config/production.yaml
  backend/config/resource_detection.py
  backend/config/schema.py
  backend/config/secrets.py
  backend/config/secrets.yaml.template
  backend/config/staging.yaml
  backend/config/training_config.yaml
  backend/data/checksums.json
  backend/data/raw/README.md
  backend/data/raw/flood_records/Floodingnaque_Paranaque_Official_Flood_Records_2022.csv
  backend/data/raw/flood_records/Floodingnaque_Paranaque_Official_Flood_Records_2023.csv
  backend/data/raw/flood_records/Floodingnaque_Paranaque_Official_Flood_Records_2024.csv
  backend/data/raw/flood_records/Floodingnaque_Paranaque_Official_Flood_Records_2025.csv
  backend/data/raw/pagasa/Floodingnaque_CADS-S0126006_A.ReadMe.txt
  backend/data/raw/pagasa/Floodingnaque_CADS-S0126006_NAIA Daily Data.csv
  backend/data/raw/pagasa/Floodingnaque_CADS-S0126006_Port Area Daily Data.csv
  backend/data/raw/pagasa/Floodingnaque_CADS-S0126006_Science Garden Daily Data.csv
  backend/data/reorganization_manifest.json
  backend/reports/model_report.txt
  backend/scripts/config_cli.py
  backend/scripts/config_diff.py
  backend/scripts/reorganize_data_directory.py
Due: black, isort, flake8, mypy, bandit, check-yaml, detect-secrets

chore(ci): Optimization of pre-commit hooks and deployment pipeline
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
Due: check-yaml, detect-secrets

chore: enhance .gitignore with comprehensive credential protection patterns
  .gitignore
Due: detect-secrets

fix:Copilot
  .github/instructions/*.instructions.md
Due: detect-secrets

docs: add Git workflow guide
  docs/GIT_WORKFLOW_GUIDE.md
Due: detect-secrets

Rename *.instructions.md to instructions.md
  .github/instructions/instructions.md
Due: detect-secrets
